name: generate code
on:
  push:
    branches: [ main, ci ]

permissions:
  contents: write        # allow pushing back to the repo

jobs:
  generate:
    env:
      GO_VERSION: '1.20'
    runs-on: ubuntu-22.04   

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0    

      - uses: actions/setup-go@v5
        with:
          go-version: ${{ env.GO_VERSION }}

      - name: install tools
        run: ./install_tools_ubuntu.sh

      - name: generate code
        run: make clean && make build

      - name: push generated code
        run: |
          if [[ -n "$(git status --porcelain)" ]]; then
            git config --local user.email "actions@github.com"
            git config --local user.name "GitHub Actions"
            git add --all
            git commit -m 'ci: Generate code from protobuf files'
            git push
          else
            echo "No changes to commit"
          fi